[Desktop Entry]
Version=1.0
Type=Application
Name=VK Play
Comment=Простой пример приложения на C++
Exec=/usr/bin/appdummy2
Icon=/usr/share/icons/hicolor/256x256/apps/dummy2.png
Terminal=false
Categories=Utility;
