[Desktop Entry]
Version=1.0
Type=Application
Name=VK
Comment=Простой пример приложения на C++
Exec=flatpak run com.example.dummy8
Icon=/usr/share/icons/hicolor/256x256/apps/dummy8.png
Terminal=false
Categories=Utility;
